version: '3.8'

services:
  frontend:
    container_name: interact-admin-microservice-frontend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8000:8000
    env_file:
      - .env