PORT = 8005
ENV = "development"

DB_HOST = "postgres"  #! DO NOT CHANGE THIS
DB_PORT = "5432"
DB_NAME = "postgres"
DB_USER = "postgres"
DB_PASSWORD = "postgres"

REDIS_PORT = "6379"
REDIS_HOST = "redis" #! DO NOT CHANGE THIS
REDIS_PASSWORD = "redis"

JWT_SECRET = "secret"

FRONTEND_URL = "http://localhost:8000"

POPULATE_USERS = true
POPULATE_LOGS = true